/* You can add global styles to this file, and also import other style files */
.fontf{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
head-font{
    font-family: 'Sigmar', cursive;
}